*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.navbar{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

   
}

a{
    margin-left: 5rem;
    list-style-type: none;
   
}

 .navbar ul li{
    display: inline-block;
    margin: 3rem;
    color: orange;

    align-items: center;
    justify-content: space-around;
}
.p1 button{
    padding: 9px 9px;
}
.pp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}
.pp h2{
    width: 22px;
    font-size: 2rem;
    white-space: nowrap;
}

.pp img{
    width: 18rem;
   right: 3rem;
}
.p3{
    margin-top: 16vh;
    color: white;
    font-size: 3vh;

}
.p4{
    margin-top: 23vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.p5{
    margin-top: 23vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
   text-align: center;
   top: 30px;


}
.box{
    width:18rem ;
    height: 16rem;
    border: 1px solid white;
    border-radius:12px;
    font-size:22px;
    transition: 0.11s;
}
.box:hover{
    transform: scale(1.4);
}

.p41{
    color: white;
    line-height: 4vh;
}
.p42 video{
    width: 42vw;
    height: 60vh;
}
.p6{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.c1
{
 
  margin-top: 15vw;
    width: 94%;
    height: 30vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: .3rem; */
}
.c1{
    /* background-color: #39383d; */
    color: white;
    border-radius: 13px;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

