*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav1{
    width: 70vw;
    margin-top: 13rem;
    height: 32vh;
    border: 1px solid black;
    margin: 13rem auto;
    border-radius: 13px;
    background-color: rgb(244, 237, 237);
    margin-bottom: 3px;
}
input{
    margin: 2rem;
    margin-left: 1.1rem;
    height: 5vh;
    width: 13rem;
    border: 1px solid black;
    border-radius: 7px;
}
button{
    padding: 1vw 3vw;
    border-radius: 8px;
    border: 1px solid black;
}
.nav1>.c1{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.box{
    width: 3vw;
    height: 4vh;
 
    text-align: center;
    border-radius: 3px;
    margin: 13rem auto;
    top: 3rem;
}
 /* #cars{
    padding: 1px ;
} */
.box label{
    margin: 1px;
    flex-wrap: wrap;
}
.c2{
    width: 80vw;
    height: auto;
    margin-top: 1.2rem;
    border: 1px solid black;
    border-radius: 13px;
    background-color: rgb(244, 237, 237);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxx{
    width: 13rem;
    height: 17rem;
    margin: 3rem;
    border-radius: 13px;
    transition: transform 0.3s, background-color 0.3s;
}
.boxx:hover{
    transform: scale(1.1);
    background-color: rgb(224, 212, 212);
}
img{
    width: 100%;
    height: 11rem;
    border-radius: 13px;
}
p{
    text-align: center;
}
.boxx button{
    padding: 7px 4px;
    margin: 0 auto;
    display: block;
    background-color: rgb(200, 167, 152);
}

@media (max-width: 1200px) {
    .nav1, .c2 {
        width: 90vw;
    }
    input {
        width: 40%;
    }
    .box {
        width: 90vw;
    }
}

@media (max-width: 708px) {
    .nav1, .c2 {
        width: 50vw;
        margin-right: 42rem;
        
    }
    input {
        width: 40%;
    }
    .box {
        width: 100vw;
        margin: 1rem auto;
    }
    .boxx img{
        width: 17rem;
        height: 16rem;
    }
}

@media (max-width: 480px) {
    .nav1, .c2 {
        width: 100vw;
   
    }
    input {
        width: 40%;
    }
    .box {
        width: 100vw;
        margin: 1rem auto;
    }
    .boxx {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }
    img {
        height: auto;
    }
}
